@import "../../variables.scss";

.list-wrapper {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 25px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0px; // fix flexbox browser incostiency
  max-height: 100%;
  margin: 0 5px 0 5px;
  border-radius: $list-radius;
  font-size: 14px;
  transition: box-shadow 0.15s, background 0.3s;
}

.position-0 {
  width: 25% !important;
}

.position-1 {
  width: 25% !important;
}

.position-2 {
  width: 25% !important;
}

.position-3 {
  width: 25% !important;
}

.position-bottom-left-0 {
  width: 50% !important;
  position: absolute;
  top: 345px;
}

.position-bottom-left-1 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 1%;
}

.position-bottom-left-2 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 25.5%;
}

.position-bottom-right-0 {
  width: 50% !important;
  position: absolute;
  top: 345px;
  left: 50%;
}

.position-bottom-right-1 {
  width: 50% !important;
  position: absolute;
  top: 595px;
  left: 50%;
}

.position-bottom-right-2 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 50.5%;
}

.position-bottom-right-3 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 75%;
}

.height-0 {
  height: 285px;
}

.height-1 {
  height: 285px;
}

.height-2 {
  height: 285px;
}

.height-3 {
  height: 285px;
}

.height-bottom-left-0 {
  height: 320px;
}

.height-bottom-left-1 {
  height: 295px;
  border: none !important;
}

.height-bottom-left-2 {
  height: 295px;
  border: none !important;
}

.height-bottom-right-0 {
  height: 200px;
}

.height-bottom-right-1 {
  height: 70px;
}

.height-bottom-right-2 {
  height: 175px;
  border: none !important;
}

.height-bottom-right-3 {
  height: 175px;
  border: none !important;
}

.blue .list {
  background: transparent;
  border: 1px solid #ccc;
}
.green .list {
  background: $transparent-green;
}
.red .list {
  background: $transparent-red;
}
.pink .list {
  background: $transparent-pink;
}

.list--drag {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.3) !important;
}

.cards-wrapper {
  height: 100%;
  margin: 0 3px 6px 3px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
}

.list-card {
  height: 103px !important;
}

.cards-wrapper::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
  background-color: $transparent-black;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: $transparent-white;
}
.cards {
  min-height: 1px;
  margin-bottom: 3px;
}
