@import "../../variables.scss";

.list-wrapper {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 25px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0px; // fix flexbox browser incostiency
  max-height: 100%;
  margin: 0 5px 0 5px;
  border-radius: $list-radius;
  font-size: 14px;
  transition: box-shadow 0.15s, background 0.3s;
}

//OBJETIVOS DE NEGÓCIO (CARD DE FUNDO)
.position-businessgoals-0 {
  width: 100% !important;
}
.height-businessgoals-0 {
  height: 500px;
}

//OBJETIVOS DE NEGÓCIO (LISTA PRINCIPAL)
.position-businessgoals-1 {
  position: absolute;
  width: 24% !important;
  left: 0.5%;
  top: 32px;
}
.height-businessgoals-1 {
  height: 305px;
  border: none !important;
}
.list-card-businessgoals-1 {
  height: 248px !important;
}

//OBJETIVOS DE NEGÓCIO (INDICADOR DE SUCESSO)
.position-businessgoals-2 {
  position: absolute;
  width: 11.75% !important;
  left: 0.5%;
  top: 370px;
}
.height-businessgoals-2 {
  height: 145px;
  border: none !important;
}
.list-card-businessgoals-2 {
  height: 90px !important;
}

//OBJETIVOS DE NEGÓCIO (META)
.position-businessgoals-3 {
  position: absolute;
  width: 11.75% !important;
  left: 12.4%;
  top: 370px;
}
.height-businessgoals-3 {
  height: 145px;
  border: none !important;
}
.list-card-businessgoals-3 {
  height: 90px !important;
}

//INVESTIGAÇÃO/PERGUNTA(S)
.position-investigationsandquestions {
  width: 100% !important;
}
.height-investigationsandquestions {
  height: 500px;
}
.list-card-investigationsandquestions {
  height: 428px !important;
}

//DESCOBERTA(S)
.position-discoveries {
  width: 100% !important;
}
.height-discoveries {
  height: 500px;
}
.list-card-discoveries {
  height: 428px !important;
}

//SOLUÇÃO/SOLUÇÕES
.position-solutions {
  width: 100% !important;
}
.height-solutions {
  height: 500px;
}
.list-card-solutions {
  height: 428px !important;
}

//FONTES DE DADOS (CARD DE FUNDO)
.position-datasources-0 {
  width: 203% !important;
}
.height-datasources-0 {
  height: 500px;
}

//FONTES DE DADOS (INTERNAS (DISPONÍVEIS))
.position-datasources-1 {
  width: 23% !important;
  position: absolute;
  top: 588px;
  left: 1%;
}
.height-datasources-1 {
  height: 310px;
  border: none !important;
}
.list-card-datasources-1 {
  height: 238px !important;
}

//FONTES DE DADOS (EXTERNAS (DISPONÍVEIS))
.position-datasources-2 {
  width: 23% !important;
  position: absolute;
  top: 588px;
  left: 26%;
}
.height-datasources-2 {
  height: 310px;
  border: none !important;
}
.list-card-datasources-2 {
  height: 238px !important;
}

//FONTES DE DADOS (INTERNAS (FALTANTES))
.position-datasources-3 {
  width: 23% !important;
  position: absolute;
  top: 918px;
  left: 1%;
}
.height-datasources-3 {
  height: 145px;
  border: none !important;
}
.list-card-datasources-3 {
  height: 90px !important;
}

//FONTES DE DADOS (EXTERNAS (FALTANTES))
.position-datasources-4 {
  width: 23% !important;
  position: absolute;
  top: 918px;
  left: 26%;
}
.height-datasources-4 {
  height: 145px;
  border: none !important;
}
.list-card-datasources-4 {
  height: 90px !important;
}

//MATRIZ INFLUÊNCIA DAS PESSOAS E RISCOS
.position-bottom-right-0 {
  width: 49.25% !important;
  position: absolute;
  top: 563px;
  left: 50.4%;
}
.height-bottom-right-0 {
  height: 395px;
}
.list-card-down-right {//VÁLIDO PARA AS DUAS LISTAS
  height: 288px !important;
}

//PAYBACK PERIOD
.position-bottom-right-1 {
  width: 49.25% !important;
  position: absolute;
  top: 993px;
  left: 50.4%;
}
.height-bottom-right-1 {
  height: 70px;
}

//MATRIZ INFLUÊNCIA DAS PESSOAS E RISCOS (ESQUERDA)
.position-bottom-right-2 {
  width: 24% !important;
  position: absolute;
  top: 588px;
  left: 50.5%;
}
.height-bottom-right-2 {
  height: 370px;
  border: none !important;
}

//MATRIZ INFLUÊNCIA DAS PESSOAS E RISCOS (DIREITA)
.position-bottom-right-3 {
  width: 24% !important;
  position: absolute;
  top: 588px;
  left: 75.5%;
}
.height-bottom-right-3 {
  height: 370px;
  border: none !important;
}

.blue .list {
  background: transparent;
  border: 1px solid #ccc;
}
.green .list {
  background: $transparent-green;
}
.red .list {
  background: $transparent-red;
}
.pink .list {
  background: $transparent-pink;
}

.list--drag {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.3) !important;
}

.cards-wrapper {
  height: 100%;
  margin: 0 3px 6px 3px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
}

.cards-wrapper::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
  background-color: $transparent-black;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: $transparent-white;
}
.cards {
  min-height: 1px;
  margin-bottom: 3px;
}

.available {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 22.25%;
  top: 750px;
  font-family: inherit;
  font-size: 15px;
}

.missing {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 22.85%;
  top: 975px;
  font-family: inherit;
  font-size: 15px;
}

.dashed-line-businessgoals {
  position: absolute;
  border-top: dashed 1px #bdbdbd;
  width: 21.5%;
  left: 22px;
  top: 345px;
}

.dashed-line {
  position: absolute;
  border-top: dashed 1px #bdbdbd;
  width: 46.5%;
  left: 25px;
  top: 915px;
}

.dashed-line-vertical-businessgoals {
  position: absolute;
  border-left: dashed 1px #bdbdbd;
  height: 155px;
  left: 12.5%;
  top: 345px;
}

.dashed-line-vertical {
  position: absolute;
  border-left: dashed 1px #bdbdbd;
  height: 435px;
  left: 25.75%;
  top: 615px;
}

.success-indicator {
  position: absolute;
  color: #8b8b8b;
  left: 1.5%;
  top: 350px;
  font-family: inherit;
  font-size: 14px;
}

.goal {
  position: absolute;
  color: #8b8b8b;
  left: 13%;
  top: 350px;
  font-family: inherit;
  font-size: 14px;
}

.influence-power {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 70.25%;
  top: 665px;
  font-family: inherit;
  font-size: 14px;
}

.impact {
  position: absolute;
  color: #8b8b8b;
  left: 93.5%;
  top: 890px;
  font-family: inherit;
  font-size: 14px;
}

.line {
  position: absolute;
  border-top: solid 1px #8f8f8f;
  width: 46.9%;
  left: 51.5%;
  top: 908px;
}

.line-vertical {
  position: absolute;
  border-left: solid 1px #8f8f8f;
  height: 305px;
  left: 75.25%;
  top: 603px;
}

.arrow {
  position: absolute;
  border: solid #8f8f8f;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  left: 97.8%;
  top: 905px;
}

.arrow-vertical {
  position: absolute;
  border: solid #8f8f8f;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  left: 75%;
  top: 603px;
}