@import "../../variables.scss";

.list-wrapper {
  display: inline-flex;
  flex-direction: column;
  padding-bottom: 25px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.list {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0px; // fix flexbox browser incostiency
  max-height: 100%;
  margin: 0 5px 0 5px;
  border-radius: $list-radius;
  font-size: 14px;
  transition: box-shadow 0.15s, background 0.3s;
}

.position-0 {
  width: 25% !important;
}

.position-1 {
  width: 25% !important;
}

.position-2 {
  width: 25% !important;
}

.position-3 {
  width: 25% !important;
}

.position-bottom-left-0 {
  width: 50% !important;
  position: absolute;
  top: 345px;
}

.position-bottom-left-1 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 1%;
}

.position-bottom-left-2 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 25.5%;
}

.position-bottom-left-3 {
  width: 24% !important;
  position: absolute;
  top: 700px;
  left: 1%;
}

.position-bottom-left-4 {
  width: 24% !important;
  position: absolute;
  top: 700px;
  left: 25.5%;
}

.position-bottom-right-0 {
  width: 50% !important;
  position: absolute;
  top: 345px;
  left: 50%;
}

.position-bottom-right-1 {
  width: 50% !important;
  position: absolute;
  top: 775px;
  left: 50%;
}

.position-bottom-right-2 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 50.5%;
}

.position-bottom-right-3 {
  width: 24% !important;
  position: absolute;
  top: 370px;
  left: 75%;
}

.height-0 {
  height: 285px;
}

.height-1 {
  height: 285px;
}

.height-2 {
  height: 285px;
}

.height-3 {
  height: 285px;
}

.height-bottom-left-0 {
  height: 500px;
}

.height-bottom-left-1 {
  height: 310px;
  border: none !important;
}

.height-bottom-left-2 {
  height: 310px;
  border: none !important;
}

.height-bottom-left-3 {
  height: 145px;
  border: none !important;
}

.height-bottom-left-4 {
  height: 145px;
  border: none !important;
}

.height-bottom-right-0 {
  height: 395px;
}

.height-bottom-right-1 {
  height: 70px;
}

.height-bottom-right-2 {
  height: 370px;
  border: none !important;
}

.height-bottom-right-3 {
  height: 370px;
  border: none !important;
}

.blue .list {
  background: transparent;
  border: 1px solid #ccc;
}
.green .list {
  background: $transparent-green;
}
.red .list {
  background: $transparent-red;
}
.pink .list {
  background: $transparent-pink;
}

.list--drag {
  box-shadow: 1px 3px 8px 2px rgba(0, 0, 0, 0.3) !important;
}

.cards-wrapper {
  height: 100%;
  margin: 0 3px 6px 3px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 75%;
}

.list-card {
  height: 103px !important;
}

.list-card-down-left-available {
  height: 238px !important;
}

.list-card-down-left-missing {
  height: 90px !important;
}

.list-card-down-right {
  height: 300px !important;
}

.cards-wrapper::-webkit-scrollbar {
  width: 8px;
  border-radius: 2px;
  background-color: $transparent-black;
}

.cards-wrapper::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: $transparent-white;
}
.cards {
  min-height: 1px;
  margin-bottom: 3px;
}

.available {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 22.25%;
  top: 525px;
  font-family: inherit;
  font-size: 15px;
}

.missing {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 22.85%;
  top: 770px;
  font-family: inherit;
  font-size: 15px;
}

.dashed-line {
  position: absolute;
  border-top: dashed 1px #bdbdbd;
  width: 47%;
  left: 25px;
  top: 700px;
}

.dashed-line-vertical {
  position: absolute;
  border-left: dashed 1px #bdbdbd;
  height: 435px;
  left: 25.75%;
  top: 400px;
}

.influence-power {
  transform: rotate(-90deg);
  position: absolute;
  color: #8b8b8b;
  left: 70.25%;
  top: 470px;
  font-family: inherit;
  font-size: 14px;
}

.impact {
  position: absolute;
  color: #8b8b8b;
  left: 92.5%;
  top: 670px;
  font-family: inherit;
  font-size: 14px;
}

.line {
  position: absolute;
  border-top: solid 1px #8f8f8f;
  width: 46.9%;
  left: 51.5%;
  top: 690px;
}

.line-vertical {
  position: absolute;
  border-left: solid 1px #8f8f8f;
  height: 305px;
  left: 75.25%;
  top: 385px;
}

.arrow {
  position: absolute;
  border: solid #8f8f8f;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  left: 97.8%;
  top: 687px;
}

.arrow-vertical {
  position: absolute;
  border: solid #8f8f8f;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  left: 75%;
  top: 385px;
}