@import "../../variables.scss";

.card-adder-textarea-wrapper {
  margin: 6px 13px 0 13px;
}

.card-adder-textarea {
  float: right; // removes mysterious empty space at the bottom of the textarea somehow
  box-sizing: border-box;
  width: 100%;
  padding: 4px 10px;
  border: 0;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  font-size: 12px;
  z-index: 15000;
  background: #FFFFFF;
}

.add-card-button {
  align-self: left;
  flex-shrink: 0;
  width: 10%;
  height: 34px;
  border: none;
  border-radius: $list-radius;
  color: $white;
  background: $transparent-black;
  font-size: 28px;
  transition: background 0.1s;
  cursor: pointer;
  margin-top: -40px;
  margin-left: 87%;
  position: relative;
}

.add-card-button:hover,
.add-card-button:focus {
  background: $less-transparent-black;
}
